h1{
            text-align: center;
            color: #f77979;
        }
        h3{
            text-align: center;
        }
        #wow {
            margin-left: 150px;
            margin-right: 150px;
        }
        #woo {
            margin-left: 150px;
            margin-right: 150px;
        }
        span {
            font-weight: bold;
            font-size: 30px;
        }
        img {
            width: 150px;
            border-radius: 10%;
        }
        #aaa {
            border: 2px solid #f5b8b8;
        }
        #bbb {
            border: 2px solid #a5f8a5;
        }